header {
    height: 90px;
    background-color: black;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 25px;
}

// a {
//     color: white;
//     font-family: Montserrat;
//     font-weight: 500;
//     font-size: 16px;
// }

a {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    position: relative;
}

a:hover {
    color: #FF0336;
}

a:hover:after, .active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -15px;
    left: 0;
    background-color: #FF0336;
}

img {
    position: absolute;
    left: 50px;
    width: 190px;
    top: 50%;
    transform: translate(0, -50%);
}

.active {
    color: #FF0336;

}

@media (max-width: 1160px) {
    img { display: none; }
}

@media (max-width: 640px) {
    nav { gap: 14px; }
}

@media (max-width: 575px) {
    nav { gap: 8px; }
}