<header>
    <img src="/assets/sqli.png">
    <nav>
        <!-- TODO: FIX ngFor -->
        <!-- <a *ngFor="let route of routes" [class.active]='currentPage === "{{route}}"' class="active" routerLink='/{{route}}'>{{route[0].toUpperCase() + route.split('').slice(1).join('')}}</a> -->
        <a [class.active]="currentPage === 'home'" class="active" routerLink="/home">Home</a>
        <a [class.active]="currentPage === 'pricing'" class="active" routerLink="/pricing">Pricing</a>
        <a [class.active]="currentPage === 'bmic'" class="active" routerLink="/bmic">BMI</a>
        <a [class.active]="currentPage === 'schedule'" class="active" routerLink="/schedule">Schedule</a>
        <a [class.active]="currentPage === 'class'" class="active" routerLink="/class">Class</a>
        <a [class.active]="currentPage === 'blog'" class="active" routerLink="/blog">Blog</a>
        <a [class.active]="currentPage === 'shop'" class="active" routerLink="/shop">Shop</a>
        <a [class.active]="currentPage === 'contact'" class="active" routerLink="/contact">Contact</a>
    </nav>
</header>
