<section class="main">
    <header class="schedule-head">
        <p class="head">Schedule by Day</p>
        <div  class="bg-gris">
            <p><span class="white">Gymate</span><span class="gr"> - </span>Schedule By Day</p>
        </div>
    </header>
    <section>
        <ul class="list">
            <li  (click)="handleItemClick(1)">Monday</li>
            <li (click)="handleItemClick(2)">Tuesday</li>
            <li (click)="handleItemClick(3)">Wednesday</li>
            <li (click)="handleItemClick(4)">Thursday</li>
            <li (click)="handleItemClick(5)">Friday</li>
            <li (click)="handleItemClick(6)">Saturday</li>
            <li (click)="handleItemClick(7)">Sunday</li>
          </ul>
    </section>
    <div *ngFor="let day of schedule" class="conta">
        <div class="1">
            <span>Class Name</span>
            <p>{{ day.name }}</p>
        </div>
        <div class="2">
            <span>Time</span>
            <p>{{ day.time }}</p>
        </div>
        <div class="3">
            <span>Trainer</span>
            <p>{{ day.tainer }}</p>
        </div>
        <p class="join">Join Now</p>
    </div>
</section>
