section {
    width: 366px;
    height: 664px;
    background-color: white;
    position: relative;
}

h1 {
    font-family: 'montserrat';
    font-weight: 600;
    color: white;
    font-size: 21px;
    position: absolute;
    right: 50px;
    top: 40px;
}

.price span {
    font-weight: 400;
    font-size: 16px;
    color: #646464;
}

main {
    max-width: 67%;
    margin: 10px auto;
}

ul {
    position: relative;
    margin-top: 40px;
}

li {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-bottom: 25px;
    padding-left: 24px;
    white-space: nowrap;
}

li::after {
    content: "\2713";
    font-size: 16px;
    font-weight: bold;
    background: url('/assets/valid.png');
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 1px;
}

.price {
    font-family: 'montserrat';
    font-weight: 600;
    color: white;
    font-size: 21px;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

button {
    background-color: #FF0336;
    color: white;
    padding: 17px 50px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c70039;
}

header {
    position: absolute;
    width: 100%;
    height: 197px;
    top: -2x;
    background-color: red;
    background: linear-gradient(-102.78deg,rgba(255,3,54,.5) 13.93%,rgba(105,105,105,.5) 75.58%);
    position: relative;
    overflow: hidden;
    -webkit-mask-image: url(/assets/pricing-heading-shape.svg);
    mask-image: url(/assets/pricing-heading-shape.svg);
    -webkit-mask-size: 105%;
    mask-size: 105%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
}

img {
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-mask-image: url(/assets/pricing-heading-shape.svg);
    overflow: hidden;
    mask-image: url(/assets/pricing-heading-shape.svg);
    -webkit-mask-size: 105%;
    mask-size: 105%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
}